* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Robot";
  color: #fff;
}

body {
  background-color: #26262b;
}

.header .main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0.7em;
}
.header .main-nav .img-logo {
  width: 150px;
  height: 50px;
}
.header .btn-nav {
  color: #fff;
  background-color: #26262b;
  padding: 0.5em;
  padding-left: 1.3em;
  padding-right: 1.3em;
  font-size: 1.2em;
  border: 1px solid #fff;
  border-radius: 10px;
}
.header .nav-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.header .nav-link a {
  font-size: 1.2em;
  text-decoration: none;
}
.header .nav-link select {
  width: 25px;
}
.header .nav-link .navigation-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.header .nav-link .navigation-links::after {
  content: "";
  right: -20px;
  border-left: 1px solid #fff;
  height: 20px;
}
.header .main-waitlist {
  position: relative;
  overflow: visible;
  max-width: 100%;
  font-size: 1em;
  font-weight: 600;
  height: 65px;
  background-color: #3e3e46;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.header .main-waitlist img {
  content: "";
  position: absolute;
  top: -26px;
  left: 330px;
  width: 100px;
  height: 90px;
}
.header .waitlist-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.header .waitlist-content button {
  color: #fff;
  background-color: #3e3e46;
  padding: 0.5em;
  padding-left: 1.3em;
  padding-right: 1.3em;
  border: 1px solid #fff;
  border-radius: 10px;
}
