@import "variables";
.header {
  max-width: $width-xxxx-large;
  margin: auto;

  .main-nav {
    @include flex(
      $direction: row,
      $justify: space-between,
      $align: center,
      $gap: 10px
    );

    padding: $padding-base-plus;

    .img-logo {
      width: 150px;
      height: 50px;
    }
  }
  .btn-nav {
    color: $color-text;
    background-color: $color-main;
    padding: $padding-base;
    padding-left: $padding-medi-plus;
    padding-right: $padding-medi-plus;
    font-size: $font-size-small-plus;
    border: 1px solid $color-text;
    border-radius: 10px;
  }

  .nav-link {
    @include flex(
      $direction: row,
      $justify: center,
      $align: center,
      $gap: 25px
    );
    a {
      font-size: $font-size-small-plus;
      text-decoration: none;
    }
    select {
      width: 25px;
    }

    .navigation-links {
      @include flex(
        $direction: row,
        $justify: center,
        $align: center,
        $gap: 25px
      );

      &::after {
        content: "";
        right: -20px;
        border-left: 1px solid #fff;
        height: 20px;
      }
    }
  }

  .main-waitlist {
    position: relative;
    overflow: visible;
    max-width: 100%;
    font-size: $font-size-small;
    font-weight: 600;
    height: 65px;

    background-color: $color-plus;

    @include flex(
      $direction: row,
      $justify: center,
      $align: center,
      $gap: 25px
    );
    img {
      content: "";
      position: absolute;
      top: -26px;
      left: 330px;
      width: 100px;
      height: 90px;
    }
  }
  .waitlist-content {
    @include flex(
      $direction: row,
      $justify: center,
      $align: center,
      $gap: 30px
    );

    button {
      color: $color-text;
      background-color: $color-plus;
      padding: $padding-base;
      padding-left: $padding-medi-plus;
      padding-right: $padding-medi-plus;

      border: 1px solid $color-text;
      border-radius: 10px;
    }
  }
}
